body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container-fluid {
    height: 100%;
}

.card {
    height: 100vh;
    overflow: auto;
}

#map-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 33.33%;
    /* Adjust this based on the width of the query interface */
}

#map {
    height: 100%;
    width: 100%;
}